*
!*.html
!*.js
!*.json
!*.md
!*.php
!docs/assets
!docs/*.js
!src
!server
!plugins
!modules
!env
!ui
!/tmp/openseadragon/build
!docker/php/*.conf
!docker/php/*.sh
!.htaccess
!package.json
!package-lock.json
!tailwind.config.js