#rubbish
*.txt
*.old
*.temp
.idea/
Thumbs.db

#builds and binaries
*.min.js
*.min.js.map
openseadragon/
node_modules/
build/
coverage/
env/
!env/README.md

#docs
docs/build/
!docs/doctemplates/openseadragon

#test suite data
test/downloads/
test/screenshots/
test/videos/

#sensitive data
cypress.env.*

#image comparison test temp data
*.diff.png
*.actual.png

#all hidden files unless explicitly added
.*

# hidden docs file
!.readthedocs.yaml
