#rubbish
*.txt
*.old
.idea/
Thumbs.db

#builds and binaries
openseadragon/
node_modules/
build/
coverage/
env/
!env/README.md

#test suite data
test/downloads/
test/screenshots/
test/videos/

#sensitive data
cypress.env.json

#image comparison test temp data
*.diff.png
*.actual.png
