.system-container { position: fixed; width: 60%; left: 18%; transform: translate(0, calc(50vh - 50%)); color: var(--color-border-inverse);}
.system-container .material-icons {color: var(--color-border-inverse);}
#main-panel {
    z-index: 90;
    right: 0;
    transition: right 0.3s;
}

#main-panel-hide {
    position: fixed;
    z-index: 91;
    top: 5px;
    cursor: pointer;
}

#main-panel-show {
    position: fixed;
    z-index: 89;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#data-layer-options span, #image-layer-options span {
    width: 30%;
    display: inline-block;
}

.inner-panel {
    padding: 3px 5px 15px 9px;
    position: relative;
    /*margin-bottom: 12px;*/
    /*background-color: var(--color-bg-primary);*/
}

.inner-panel .inner-panel-content {
    overflow-x: hidden;
    min-height: 50px;
}

.inner-panel::after {
    content: '';
}

.inner-panel .inner-panel-hidden {
    max-height: 0;
    transition: max-height 0.15s ease-in-out;
    overflow: hidden;
}


/*.inner-panel:hover .inner-panel-hidden {*/
/*    max-height: 100vw;*/
/*    transition: max-height 0.15s ease-in-out;*/
/*}*/

.inline-pin {
    cursor: pointer;
    vertical-align: baseline !important;
}

/*.locked.inline-pin {*/
/*    color: var(--color-icon-secondary) !important;*/
/*}*/

/*.locked::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 17px;*/
/*    height: 22px;*/
/*    background: repeating-linear-gradient( 44deg, transparent, transparent 12px, var(--color-bg-primary) 11px, var(--color-bg-primary) 15px );*/
/*    transform: translate(3px, -1px);*/
/*}*/

.pressed  {
    transform: translate(0, 6px);
}

.pressed::after  {
    content: '';
    width: 20px;
    height: 7px;
    background: var(--color-bg-canvas);
    position: absolute;
    right: 7px;
    top: 17px;
}

.shader-part {
    cursor: ns-resize;
    background-image: linear-gradient(to right, var(--color-border-overlay) , var(--color-bg-primary));/*dirty using border color but not usable BG colors*/
}

.non-draggable {
    cursor: auto;
}

.btn-selected {
    background: var(--color-border-overlay) !important; /*dirty using border color but not usable BG colors*/
}

.tutorial-item {
    transition: all .2s ease-in-out;
    border: 3px solid transparent; background: rgb(34 39 46 / 22%); cursor:pointer;
}

.tutorial-item:hover {
    transform: scale(1.05);
}

#label-render-type:hover > label {
    display: none !important;
}

#label-render-type:hover > select {
    display: inline-block !important;
}

/**
=====================
DIALOGS
=====================
*/

@-webkit-keyframes popUpEnter {
    0%{opacity: 0; margin-top: -20%;}
    75%{margin-top: 50px;}
    100%{opacity: 1;}
  }
  @keyframes popUpEnter {
    0%{opacity: 0; margin-top: -20%;}
    75%{margin-top: 50px;}
    100%{opacity: 1;}
  }
  @-webkit-keyframes popUpHide {
    0%{opacity: 1;display: flex !important;}
    75%{opacity: 0.9; margin-top: 0;display: flex !important;}
    100%{opacity: 0;margin-top: 10px;display: flex !important;}
  }
  @keyframes popUpHide {
    0%{opacity: 1;display: flex !important;}
    75%{opacity: 0.9; margin-top: 0;display: flex !important;}
    100%{opacity: 0;margin-top: 10px;display: flex !important;}
  }

.popUpEnter{
    opacity: 1 !important;
    animation: popUpEnter 0.2s;
    -webkit-animation: popUpEnter 0.2s;
}

.popUpHide{
    opacity: 0;
    display: none;
    animation: popUpHide 0.2s;
    -webkit-animation: popUpHide 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/**
=====================
UTILITIES
=====================
*/

.force-visible {
    display: block !important;
    visibility: visible !important;
    max-height: initial !important;
}

/* Disabled overlay on div */
.disabled::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.3);
    background: #22272ead;
}

/* For somre reason Github css does not style input range */
input[type=range] { height: 25px;  -webkit-appearance: none; margin: 3px 0; width: 65%; background: transparent; vertical-align: middle; margin: 0;}
input[type=range].with-direct-input { width: calc(70% - 80px);}
input[type=range]:focus { outline: none;}
input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 8px; cursor: pointer; box-shadow: 0px 0px 0px #000000; background: #b9b9b9; border-radius: 7px; border: 0px }
input[type=range]::-webkit-slider-thumb { box-shadow: 0px 0px 3px #000000; border: 0px solid #FFFFFF; height: 18px; width: 18px; border-radius: 25px; background: rgba(255, 255, 255, 0.6); 
    cursor: pointer; -webkit-appearance: none; margin-top: -5px;}
input[type=range]:focus::-webkit-slider-runnable-track {  background: #b9b9b9;}
input[type=range]::-moz-range-track { width: 100%; height: 8px; cursor: pointer; box-shadow: 0px 0px 0px #000000; background: #b9b9b9; border-radius: 7px; border: 0px;}
input[type=range]::-moz-range-thumb { box-shadow: 0px 0px 3px #000000; border: 0px solid #b9b9b9; height: 18px; width: 18px; border-radius: 25px; background: rgba(255, 255, 255, 0.6); cursor: pointer;}
input[type=range]::-ms-track { width: 100%; height: 8px; cursor: pointer; background: transparent; border-color: transparent; color: transparent;}
input[type=range]::-ms-fill-lower { background: #b9b9b9; border: 0px solid #000000; border-radius: 14px; box-shadow: 0px 0px 0px #000000;}
input[type=range]::-ms-fill-upper { background: #b9b9b9;border: 0px solid #e8eaed;border-radius: 14px;box-shadow: 0px 0px 0px #000000;}
input[type=range]::-ms-thumb { margin-top: 1px; box-shadow: 0px 0px 3px #000000; border: 0px solid #b9b9b9; height: 18px; width: 18px; border-radius: 25px; background: rgba(255, 255, 255, 0.6); cursor: pointer;}
input[type=range]:focus::-ms-fill-lower { background: #b9b9b9;}
input[type=range]:focus::-ms-fill-upper { background: #b9b9b9;}

/**
=====================
SYSTEM STYLING
=====================
*/

/*IE*/
select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  color: var( --color-icon-primary);
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  padding: 0 5px;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}


/**
=====================
STYLING OF SCROLL BAR
=====================
*/

::-webkit-scrollbar {
    background: transparent;
    margin: 25px 0 25px 0;
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
