@-webkit-keyframes popUpEnter {
    0%{opacity: 0; margin-top: -20%;}
    75%{margin-top: 50px;}
    100%{opacity: 1;}
  }
  @keyframes popUpEnter {
    0%{opacity: 0; margin-top: -20%;}
    75%{margin-top: 50px;}
    100%{opacity: 1;}
  }
  @-webkit-keyframes popUpHide {
    0%{opacity: 1;display: flex !important;}
    75%{opacity: 0.9; margin-top: 0;display: flex !important;}
    100%{opacity: 0;margin-top: 10px;display: flex !important;}
  }
  @keyframes popUpHide {
    0%{opacity: 1;display: flex !important;}
    75%{opacity: 0.9; margin-top: 0;display: flex !important;}
    100%{opacity: 0;margin-top: 10px;display: flex !important;}
  }

.popUpEnter{
    opacity: 1 !important;
    animation: popUpEnter 0.2s;
    -webkit-animation: popUpEnter 0.2s;
}

.popUpHide{
    opacity: 0;
    display: none;
    animation: popUpHide 0.2s;
    -webkit-animation: popUpHide 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#annotation-logger input:disabled {
  cursor: pointer;
}
