#system-messages-container {
    position: fixed;
    min-width: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.1), 0 2px 8px rgba(0,0,0,0.1);  
    z-index: 5050;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s; 
    top: 15px; 
    left: 0; 
    transform: translate(calc(50vw - 50%)); 
    display: none;
    opacity: 0;
    padding: 4px 7px 7px 23px;
    border: 1px solid;
    border-radius: 7px;
    max-width: 50%;
}

#system-messages {
    vertical-align: middle;
}

@-webkit-keyframes popUpEnter {
    0%{opacity: 0; margin-top: -20%;}
    75%{margin-top: 50px;}
    100%{opacity: 1;}
  }
  @keyframes popUpEnter {
    0%{opacity: 0; margin-top: -20%;}
    75%{margin-top: 50px;}
    100%{opacity: 1;}
  }
  @-webkit-keyframes popUpHide {
    0%{opacity: 1;display: block !important;}
    75%{opacity: 0.9; margin-top: 0;display: block !important;}
    100%{opacity: 0;margin-top: 10px;display: block !important;}
  }
  @keyframes popUpHide {
    0%{opacity: 1;display: block !important;}
    75%{opacity: 0.9; margin-top: 0;display: block !important;}
    100%{opacity: 0;margin-top: 10px;display: block !important;}
  }


.popUpEnter{
    display: block !important;
    opacity: 1 !important;

    animation: popUpEnter 0.2s;
    -webkit-animation: popUpEnter 0.2s;

}
.popUpHide{
    opacity: 0;
    animation: popUpHide 0.2s;
    -webkit-animation: popUpHide 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#annotation-logs {
   overflow-y: overlay;
   height: 100%;
    
    
}

#annotation-logger {
  padding: 5px 0 5px 0;
}

#annotation-logger input {
    background: transparent;
    border: 0;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: white;
    width: calc(100% - 80px);
}

#annotation-logger input:disabled {
  cursor: pointer;
}

#annotation-logger .highlighted {
  background: #000000b2;
}