<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Error</title>

    <!-- template Head -->
    <template id="template-head"></template>
</head>

<body>
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.setAttribute("data-theme", "xOpat-detached-mode");
    } else {
        document.body.removeAttribute("data-theme");
    }
</script>

<!-- System messaging -->
<div id="system-message" class="hidden system-container">
    <div id="system-message-warn" class="text-4xl font-light text-center"><span class="material-icons text-3xl font-light" style="transform: translate(0px, -5px);">error_outline</span>&nbsp;<template id="template-text-title"></template></div>
    <div id="system-message-title" class="text-3xl font-light text-center mb-3"></div>
    <button id="system-message-details-btn" onclick="$('#system-message-details').css('display', 'block'); $(this).css('visibility', 'hidden');" class="btn" type="button"><template id="template-text-details"></template></button>
    <div id="system-message-details" class="px-4 py-4 border rounded-md overflow-y-scroll" style="display: none;max-height: 50vh;"></div>

    <template id="template-custom"></template>
</div>


<!-- DEFAULT SETUP SCRIPTING -->
<script type="text/javascript">

    /*---------------------------------------------------------*/
    /*------------ System error messenger ---------------------*/
    /*---------------------------------------------------------*/

    var DisplayError = {
        msgTitle: $("#system-message-title"),
        msgDetails: $("#system-message-details"),
        msgContainer: $("#system-message"),
        screenContainer: $("#viewer-container"),

        show: function(title, description) {
            this.msgTitle.html(title);
            this.msgDetails.html(description);
            this.msgContainer.removeClass("hidden");
            this.screenContainer.addClass("disabled");
        },

        hide: function() {
            this.msgContainer.addClass("hidden");
            this.screenContainer.removeClass("disabled");
        }
    };
</script>
<template id="template-display-error-call"></template>
</body>
</html>
