<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Visualization</title>
    <meta name="msapplication-TileColor" content="#da532c">
    <!--Necessary for OSD on phone portrait mode-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO hardcoded path -->
    <link rel="apple-touch-icon" sizes="180x180" href="src/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="src/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="src/assets/favicon-16x16.png">
    <link rel="mask-icon" href="src/assets/safari-pinned-tab.svg" color="#5bbad5">

    <!--Remember WARNS/ERRORS to be able to export-->
    <script type="text/javascript">
        (function () {
            window.console.appTrace = [];

            const defaultError = console.error;
            const timestamp = () => {
                let ts = new Date(), pad = "000", ms = ts.getMilliseconds().toString();
                return ts.toLocaleTimeString("cs-CZ") + "." + pad.substring(0, pad.length - ms.length) + ms + " ";
            };
            window.console.error = function (...args) {
                window.console.appTrace.push("ERROR ",
                    // (new Error().stack.split("at ")[1]).trim(), " ",
                    timestamp(), ...args, "\n");

                const stack = new Error().stack;
                defaultError.apply(window.console, [...args, stack]);
            };

            const defaultWarn = console.warn;
            window.console.warn = function (...args) {
                window.console.appTrace.push("WARN  ", ...args, "\n");
                const stack = new Error().stack;
                defaultWarn.apply(window.console, [...args, stack]);
            };

            window.addEventListener('error', e => console.error('window error:', e.error || e.message));
            window.addEventListener('unhandledrejection', e => console.error('unhandledrejection:', e.reason));
        })();
    </script>

    <!-- Template head -->
    <template id="template-head"></template>
</head>
<body style="margin: 0; padding: 0; overflow: hidden; height: 100vh; width: 100vw; display: flex; flex-direction: column;">
    <!-- Template ui -->
    <template id="template-ui"></template>

    <div id="top-container" class="glass" style="min-height: 35px; flex-shrink: 0; pointer-events: auto; z-index: 9999;"></div>

    <div id="middle-container" style="flex-grow: 1; position: relative;"></div>

    <div id="bottom-container" style="display: flex; flex-direction: column; flex-shrink: 0;"></div>

    <script>
        // todo make sure our globals dont get out of hand...
        window.LAYOUT = new UI.MainLayout({
            id: "viewer-container",
            position: "right",
            initialWidth: 360,
            // tabs: [
            //     { id: "layers", icon: "fa-layer-group", title: "Layers", body: ["…"] },
            //     { id: "measure", icon: "fa-ruler",       title: "Measure", body: ["…"] }
            // ]
        });
        // Attach once (replaces your static HTML wrapper)
        window.LAYOUT.attachTo(document.getElementById("middle-container"));
    </script>
<!--&lt;!&ndash; OSD viewer &ndash;&gt;-->
<!--<div id="viewer-container" class="absolute w-full h-full top-0 left-0" style="pointer-events: none;">-->
<!--    <div id="osd" style="pointer-events: auto;" class="absolute w-full h-full top-0 left-0"></div>-->
<!--    <div id='viewer-demo-advertising' style='display: none'>-->
<!--        <h1>xOpat - The WSI Viewer</h1>-->
<!--        <p>The viewer is missing the target data to view; this might happen, if</p>-->
<!--        <div id='viewer-demo-error-description'>-->
<!--            &lt;!&ndash; message space&ndash;&gt;-->
<!--        </div>-->
<!--        <br><br>-->
<!--        <p class="text-small mx-6 text-center">xOpat: a web based, NO-API oriented WSI Viewer with enhanced rendering of high resolution images overlaid, fully modular and customizable.</p>-->
<!--        <img src="docs/assets/xopat-banner.png" style="width: 80%; display: block; margin: 0 auto;">-->
<!--    </div>-->
<!--</div>-->

<!-- System messaging -->
<div id="system-message" class="hidden system-container">
    <div id="system-message-warn" class="font-light text-4xl text-center">
        <span class="material-icons font-light text-3xl mr-1" style="transform: translate(0px, -5px);">error_outline</span>
        <span data-i18n="error.title">Error</span>
    </div>
    <div id="system-message-title" class="font-light text-3xl text-center"></div>
    <div id="system-message-subtitle" class="font-normal text-center"></div>
    <div class="text-sm text-center mb-4" data-i18n="error.doExport"> [ if you want to report a problem, please include exported file ] </div>
    <button id="system-message-details-btn" onclick="$('#system-message-details').css('display', 'block'); $(this).css('display', 'none');" class="btn" type="button" data-i18n="error.detailsBtn">details</button>
    <div id="system-message-details" class="px-4 py-3 mb-2 border rounded-md overflow-y-scroll" style="display: none;max-height: 50vh;"></div>
    <button id="system-message-dismiss-btn" onclick="USER_INTERFACE.Errors.hide()" class="btn" type="button" data-i18n="error.dismissBtn">dismiss</button>
</div>

<!--Tutorials-->
<div id="tutorials-overlay" class="hidden" onclick="USER_INTERFACE.Tutorials.hide();"></div>
<div id="tutorials-container" class="hidden system-container" style="z-index: 5;">
    <div id="tutorials-title" class="font-light text-3xl text-center"></div>
    <p id="tutorials-description" class="text-center"></p>
    <!--<p class="text-center">You can also show tutorial section by pressing 'H' on your keyboard.</p>-->
    <br>
    <div id="tutorials"></div>
    <br><br><button class="btn" onclick="USER_INTERFACE.Tutorials.hide();" data-i18n="common.Exit">Exit</button>
</div>
<!--<div id="fullscreen-menu" class="bg-base-100"></div>-->

<!--<div id="bottom-menu" style="display: flex; position: fixed; left: 0; bottom: 0; width: 100%;">-->
<!--    <div id="bottom-menu-left"></div>-->
<!--    <div id="bottom-menu-center"></div>-->
<!--    <div id="bottom-menu-right"></div>-->
<!--</div>-->
<!-- Appended controls for other plugins -->
    <script>
//preventive error message, that will be discarded after the full initialization, no translation
window.onerror = function (message, file, line, col, error) {
    let ErrUI = USER_INTERFACE.Errors;
    if (ErrUI.active) return false;
    error = error || {};
    ErrUI.show("Unknown error.", `Something has gone wrong: '${message}' <br><code>${error.message}
<b>in</b> ${file}, <b>line</b> ${line}</code>`, true);
    return false;
};
    </script>

    <!-- Template app -->
    <template id="template-app"></template>

    <!-- Template modules -->
    <template id="template-modules"></template>

    <script type="text/javascript">

(function (window) {

    /*---------------------------------------------------------*/
    /*------------ Basic Tutorial       -----------------------*/
    /*---------------------------------------------------------*/

    const withLayers = () => APPLICATION_CONTEXT.config.visualizations.length > 0;
    window.USER_INTERFACE.Tutorials.add("", $.t('tutorials.basic.title'), $.t('tutorials.basic.description'), "foundation", [
        {'next #viewer-container' : $.t('tutorials.basic.1')
        }, {'next #myMenu-opendiv-navigator' : $.t('tutorials.basic.3')
        }, {'next #myMenu-opendiv-navigator' : $.t('tutorials.basic.4'),
            runIf: function() {return APPLICATION_CONTEXT.config.background.length === 1 && withLayers();}
        }, {'next #tissue-title-header' : $.t('tutorials.basic.4a'),
            runIf: function() {return APPLICATION_CONTEXT.config.background.length === 1 && !withLayers();}
        }, {
            'next #__tisue_list' : $.t('tutorials.basic.6'),
            runIf: function () {return APPLICATION_CONTEXT.config.background.length > 1 && !APPLICATION_CONTEXT.getOption("stackedBackground");}
        }, {
            'click #images-pin' : $.t('tutorials.basic.7'),
            runIf: function () {return APPLICATION_CONTEXT.config.background.length > 1 && APPLICATION_CONTEXT.getOption("stackedBackground");}
        }, {'next #panel-images' : $.t('tutorials.basic.8'),
            runIf: function () {return APPLICATION_CONTEXT.config.background.length > 1 && APPLICATION_CONTEXT.getOption("stackedBackground");}
        }, {'next #panel-shaders': $.t('tutorials.basic.9'), runIf: withLayers
        }, {'click #shaders-pin': $.t('tutorials.basic.10'), runIf: withLayers
        }, {'next #shaders': $.t('tutorials.basic.11'), runIf: withLayers
        }, {'next #data-layer-options': $.t('tutorials.basic.12'), runIf: withLayers
        }, {'next #cache-snapshot': $.t('tutorials.basic.13'), runIf: withLayers
        }, {'next #left-side-buttons-menu-b-share' : $.t('tutorials.basic.14')
        }, {'next #left-side-buttons-menu-b-tutorial' : $.t('tutorials.basic.15')}], function() {
        if (withLayers()) {
            //prerequisite - pin in default state
            let pin = $("#shaders-pin");
            let container = pin.parents().eq(1).children().eq(1);
            pin.removeClass('pressed');
            container.removeClass('force-visible');
        }
    });

})(window);
    </script>

    <!-- Template plugins -->
    <template id="template-plugins"></template>

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
        APPLICATION_CONTEXT.beginApplicationLifecycle(
            APPLICATION_CONTEXT.config.data,
            APPLICATION_CONTEXT.config.background,
            APPLICATION_CONTEXT.config.visualizations
        );
    });
</script>
    <div id="fullscreen-loader" class="fixed w-full h-full" style="z-index: 999999; background-color: #00000087;">
        <span class="fixed loading loading-spinner" style="top: 50%; left: 50%; width: 62px;"></span>
        <div class="fixed" style="top: calc(50% + 120px); left: calc(50% + 30px); transform: translate(-50%, -50%); width: 450px; max-width: 85vw;">
            <div id="fullscreen-loader-title" class="h3 text-center" style="display: none"></div>
            <div id="fullscreen-loader-description" class="h4 text-center" style="display: none;"></div>
        </div>
    </div>
</body>
</html>
