.enjoyhint{position:fixed;width:100vw;height:100vh;top:0;left:0;z-index:1010;pointer-events:none;overflow:hidden}
.enjoyhint_hide{display:none}.enjoyhint_disable_events{position:absolute;width:2000px;height:1500px;z-index:1011;pointer-events:all}
.enjoyhint_next_btn,.enjoyhint_prev_btn,.enjoyhint_skip_btn{
    cursor:pointer;text-align:center;padding: 0 5px; background: var(--color-bg-tertiary); border: none;font-weight: 900;color: white; background: transparent;
    font-size: large; }
.enjoyhint_next_btn,.enjoyhint_prev_btn{position:absolute;z-index:1012;pointer-events:all;-o-text-overflow:clip;text-overflow:clip;}
.enjoyhint_skip_btn {z-index:1012;pointer-events:all;-moz-box-sizing:content-box;-o-text-overflow:clip;text-overflow:clip; right: 35px; top: 35px;}
.enjoyhint_next_btn:active,.enjoyhint_skip_btn:active,.enjoyhint_prev_btn:active{transition:none;-webkit-transition:none;-moz-transition:none;-o-transition:none}
.enjoyhint_close_btn{display:none}
.enjoyhint_btn{-o-text-overflow:clip;text-overflow:clip}
.enjoyhint_btn{cursor:pointer;font:normal normal normal 17px/40px "Advent Pro",Helvetica,sans-serif;}
#kinetic_container,.enjoyhint_canvas,.enjoyhint_svg_wrapper,.enjoyhint_svg_wrapper svg{width:100%;height:100%;position:absolute}.enjoyhint_btn:hover{color:rgba(255,255,255,1)}
.enjoyhint_btn:active{webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}
.enjoyhint div.canvas-container{position:absolute}.enjoyhint_canvas{z-index:100;pointer-events:none}#kinetic_container{pointer-events:none;top:0;left:0;z-index:99}
.enjoyhint_svg_wrapper{top:0;left:0;z-index:100;-webkit-transition:opacity .4s cubic-bezier(.42,0,.58,1);-moz-transition:opacity .4s cubic-bezier(.42,0,.58,1);transition:opacity .4s cubic-bezier(.42,0,.58,1)}
.enjoyhint_svg_wrapper svg{top:0;left:0}.enjoyhint_svg_transparent .enjoy_hint_label,.enjoyhint_svg_transparent .enjoyhint_svg_wrapper{opacity:0}
.enjoy_hint_label{position:absolute;overflow:hidden;color:#fff;z-index:107;font-size:22px;font-family:casino_handregular,Arial;-webkit-transition:opacity .4s cubic-bezier(.42,0,.58,1);-moz-transition:opacity .4s cubic-bezier(.42,0,.58,1);transition:opacity .4s cubic-bezier(.42,0,.58,1)}

@media (max-width :640px){
    .enjoy_hint_label{font-size:16px}
    .enjoyhint_next_btn,
    .enjoyhint_prev_btn{font-size:200%;color:#FFF;line-height:1.2em;min-width:0;width:35px;height:35px;-webkit-border-radius:50%;border-radius:50%}
    .enjoyhint_skip_btn{display:none}
}
div.kineticjs-content{position:absolute!important}
.enjoyhint_skip_btn{position:fixed}
.enjoy_hint_label{display:inline-block;text-align:center;max-width:80%}
