.display-none {
    display: none;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.btn {
    min-height: 4.5rem;
    min-height: 2.5rem;
}

.btn-xs {
    height: 1.8rem;
    min-height: 1.8rem;
}

.btn-sm {
    height: 2.2rem;
    min-height: 2.2rem;
}

.btn-md {
    height: 3rem;
    min-height: 3rem;
}

.btn-lg {
    height: 4rem;
    min-height: 4rem;
}

.join-unrounded {
    --rounded-btn: 0;
}

.bg-join {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ctp-text), var(--tw-bg-opacity, 1));
}

.hidden {
    display: none !important;
}

.rotate-90-permanent {
    transform: rotate(-90deg) translate(100%);
    transform-box: fill-box;
    transform-origin: bottom right;
}

.b-vertical-right,
.b-vertical-left {
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 2.2rem;
    text-align: center;
}

.b-vertical-right {
    writing-mode: sideways-lr;
}

.b-vertical-left {
    writing-mode: sideways-rl;
}

.join.join-vertical .join-item:first-child:not(:last-child),
.join.join-vertical *:first-child:not(:last-child) .join-item {
    border-start-start-radius: inherit;
    border-start-end-radius: 0;
    border-end-start-radius: inherit;
    border-end-end-radius: 0;
}

.join.join-vertical .join-item:last-child:not(:first-child),
.join.join-vertical *:last-child:not(:first-child) .join-item {
    border-end-start-radius: 0;
    border-end-end-radius: inherit;
    border-start-start-radius: 0;
    border-start-end-radius: inherit;
}

.join.join-vertical .join-item:first-child:not(:last-child):not(.b-vertical-left),
.join.join-vertical *:first-child:not(:last-child) .join-item:not(.b-vertical-left) {
    border-start-start-radius: 0;
    border-start-end-radius: inherit;
    border-end-start-radius: 0;
    border-end-end-radius: inherit;
}

.join.join-vertical .join-item:last-child:not(:first-child):not(.b-vertical-left),
.join.join-vertical *:last-child:not(:first-child) .join-item:not(.b-vertical-left) {
    border-end-start-radius: inherit;
    border-end-end-radius: 0;
    border-start-start-radius: inherit;
    border-start-end-radius: 0;
}

button div {
    display: none;
    position: absolute;
    top: 0;
    right: 110%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    writing-mode: horizontal-tb;
}

#top-slide {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
    bottom: auto;
}

@media (max-width: 1610px) {
    #top-slide {
        left: 0%;
        transform: translateX(0%);
    }
}

#overlay-content{
    position: absolute; 
    pointer-events: auto; 
    z-index: 5; 
    background-color: var(--color-bg-tertiary); 
    max-width: 800px; 
    width: calc(-65px + 100vw);
    height: calc(100% - 45px);
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#overlay-darken{
    position: absolute; 
    height: 100%; 
    width: 100%; 
    top:0; 
    left:0; 
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.ui-menu{
    pointer-events: none;
}

.ui-menu-item{
    pointer-events: auto;
}